 body {
    margin-top: 100px;
  }

 .article-title a, .article-title a:visited {
    color: #222222;
    text-decoration: none;
}

 div.blog-footer {
    padding: 40px 0;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

p.text-justify {
    font-size: 15px;
}

.text-center {
    text-align: center;
    padding-bottom: 50px;
}

.messages li.error { 
    background-color: red; 
}
