{% extends "blog/home.html" %}
{% load staticfiles %}

{% block title %}
    Ошибка доступа
{% endblock title %}

{% block post %}
    <div class="container">
        <div class="text-center">
            <h1>Упс! Вы не имеете доступа к данной странице</h1>
            <p class="lead">Для доступа к закрытым постам вам необходимо авторизоваться</p>
            <p class="lead">У Вас уже есть аккаунт? <a href="{% url 'blog:login' %}">Войти</a></p>
            <p class="lead">Или Вы можете <a href="{% url 'blog:reg' %}">Зарегистрироваться</a></p>
            <p class="lead"><a href="{% url 'blog:home' %}">На главную</a></p>
        </div>
    </div>
{% endblock post %}