{% extends "blog/home.html" %}
{% load staticfiles %}

{% block title %}
    Ошибка доступа
{% endblock title %}

{% block post %}
    <div class="container">
        <div class="text-center">
            <h1>Упс! Вышло время ключа активации</h1>
            <p class="lead"> Вы можете 
                <a href="{% url 'blog:repeat' %}">Повторно выслать письмо для авторизации</a>
            </p>
            <p class="lead"><a href="{% url 'blog:home' %}">На главную</a></p>
        </div>
    </div>
{% endblock post %}